<div class="homeTitle">
  <h1 ng-init="itc.init()">HELLO {{itc.loggedInUser}}  </h1>
  <button class="logout" ng-click='itc.logOut()'>LOG OUT</button>
</div>
<div class="inputValue">
  <input type="text" ng-model='itc.phrase' placeholder="Phrase">
  <button class="addBtn" type="button" ng-click="itc.addPhrase()">Add</button>
</div>
<div class="row">
  <div class="col-sm-3 phraseLang" ng-repeat='phrase in itc.phrases'>
    <p class="phraseType">{{phrase.phrase}} <button ng-if="phrase.userID == itc.loggedInID" ng-click="itc.deletePhrase(phrase._id)" type="delete">X</button></p>
  </div>
</div>
