<div>
  <img src="http://is5.mzstatic.com/image/thumb/Purple6/v4/41/65/a5/4165a52c-7cdc-f7d0-a52d-7396c4091f29/source/175x175bb.jpg" alt="">
  <div class="loginInput">
    <button ng-show="itc.loginToggle" type="submit" name="button" ng-click='itc.logIn()'>Login</button>
    <button ng-hide="itc.loginToggle" type="submit" name="button" ng-click="itc.register()">Register</button>
    <a href="#!" ng-show="itc.loginToggle" ng-click="itc.toggleLogin()">Register</a>
    <a href='#!' ng-hide="itc.loginToggle" ng-click="itc.toggleLogin()">Login</a>
  </div>
  <div class="loginInput">
    <input type="text" ng-model="itc.username" placeholder="username">
  </div>
  <div class="loginInput">
    <input type="password" ng-model="itc.password" placeholder="password">
  </div>
  <div class="submitInput">
    <button type="submit" name="button" ng-click='itc.submit()'>SUBMIT</button>
  </div>
</div>
